{% extends 'baseCategory.html' %}
{% load static %}

{% block title %} | Дело 1{% endblock %}

{% block page-title %}Дело 1{% endblock %}

{% block p-content %}
<div class="category-grid files">
  <div href="{% url 'deals' %}" class="fond-folder file">
    <div class="fond-folder-image">
      <img src="/media/fond1/register/deal1/0001 обложка.jpg">
    </div>
    <div class="fond-folder-info">
      <div class="fond-folder-info-title">0001 обложка.jpg</div>
    </div>
  </div>
  <div href="{% url 'deals' %}" class="fond-folder file">
    <div class="fond-folder-image">
      <img src="/media/fond1/register/deal1/0002 л.1.jpg">
    </div>
    <div class="fond-folder-info">
      <div class="fond-folder-info-title">0001.jpg</div>
    </div>
  </div>
  <div href="{% url 'deals' %}" class="fond-folder file">
    <div class="fond-folder-image">
      <img src="/media/fond1/register/deal1/0001 обложка.jpg">
    </div>
    <div class="fond-folder-info">
      <div class="fond-folder-info-title">0001 обложка.jpg</div>
    </div>
  </div>
  <div href="{% url 'deals' %}" class="fond-folder file">
    <div class="fond-folder-image">
      <img src="/media/fond1/register/deal1/0001 обложка.jpg">
    </div>
    <div class="fond-folder-info">
      <div class="fond-folder-info-title">0001 обложка.jpg</div>
    </div>
  </div>
  <div href="{% url 'deals' %}" class="fond-folder file">
    <div class="fond-folder-image">
      <img src="/media/fond1/register/deal1/0001 обложка.jpg">
    </div>
    <div class="fond-folder-info">
      <div class="fond-folder-info-title">0001 обложка.jpg</div>
    </div>
  </div>
  <div href="{% url 'deals' %}" class="fond-folder file">
    <div class="fond-folder-image">
      <img src="/media/fond1/register/deal1/0001 обложка.jpg">
    </div>
    <div class="fond-folder-info">
      <div class="fond-folder-info-title">0001 обложка.jpg</div>
    </div>
  </div>
  <div href="{% url 'deals' %}" class="fond-folder file">
    <div class="fond-folder-image">
      <img src="/media/fond1/register/deal1/0001 обложка.jpg">
    </div>
    <div class="fond-folder-info">
      <div class="fond-folder-info-title">0001 обложка.jpg</div>
    </div>
  </div>
  <div href="{% url 'deals' %}" class="fond-folder file">
    <div class="fond-folder-image">
      <img src="/media/fond1/register/deal1/0001 обложка.jpg">
    </div>
    <div class="fond-folder-info">
      <div class="fond-folder-info-title">0001 обложка.jpg</div>
    </div>
  </div>
</div>
{% endblock %}
