{% extends 'baseCategory.html' %}
{% load static %}

{% block title %} | Фонды{% endblock %}

{% block page-title %}Фонды{% endblock %}

{% block p-content %}
<div class="category-grid">
  <a href="{% url 'registers' %}" class="fond-folder">
    <div class="fond-folder-image">
      <img src="{% static 'img/icons/folder.svg' %}">
    </div>
    <div class="fond-folder-info">
      <div class="fond-folder-info-title">Фонд 1</div>
    </div>
  </a>
  <a href="{% url 'registers' %}" class="fond-folder">
    <div class="fond-folder-image">
      <img src="{% static 'img/icons/folder.svg' %}">
    </div>
    <div class="fond-folder-info">
      <div class="fond-folder-info-title">Фонд 1</div>
    </div>
  </a>
  <a href="{% url 'registers' %}" class="fond-folder">
    <div class="fond-folder-image">
      <img src="{% static 'img/icons/folder.svg' %}">
    </div>
    <div class="fond-folder-info">
      <div class="fond-folder-info-title">Фонд 1</div>
    </div>
  </a>
  <a href="{% url 'registers' %}" class="fond-folder">
    <div class="fond-folder-image">
      <img src="{% static 'img/icons/folder.svg' %}">
    </div>
    <div class="fond-folder-info">
      <div class="fond-folder-info-title">Фонд 1</div>
    </div>
  </a>
  <a href="{% url 'registers' %}" class="fond-folder">
    <div class="fond-folder-image">
      <img src="{% static 'img/icons/folder.svg' %}">
    </div>
    <div class="fond-folder-info">
      <div class="fond-folder-info-title">Фонд 1</div>
    </div>
  </a>
  <a href="{% url 'registers' %}" class="fond-folder">
    <div class="fond-folder-image">
      <img src="{% static 'img/icons/folder.svg' %}">
    </div>
    <div class="fond-folder-info">
      <div class="fond-folder-info-title">Фонд 1</div>
    </div>
  </a>
  <a href="{% url 'registers' %}" class="fond-folder">
    <div class="fond-folder-image">
      <img src="{% static 'img/icons/folder.svg' %}">
    </div>
    <div class="fond-folder-info">
      <div class="fond-folder-info-title">Фонд 1</div>
    </div>
  </a>
</div>
{% endblock %}
