{% extends 'baseWrappedPage.html' %}

{% block title %}
| О нас
{% endblock %}

{% block page-title %} О нас{% endblock %}

{% block p-content %}
<div class="p-block">
  <h2>Приветствуем Вас на нашем сайте.</h2>
  <p>Ex nulla qui laboris culpa voluptate amet non. Duis quis duis voluptate dolor anim nisi dolor sunt voluptate
    aliquip velit ex. Aute consequat voluptate consequat est occaecat ex consectetur ipsum ullamco do et. Fugiat nisi
    adipisicing mollit incididunt do amet proident ad. Do enim magna qui nostrud do exercitation exercitation
    reprehenderit culpa magna. Fugiat mollit laboris in laborum qui officia magna esse minim adipisicing ex proident.
  </p>
</div>
<div class="p-block">
  <h2>Как мы работаем:</h2>
  <p>Laborum magna magna reprehenderit laborum culpa voluptate adipisicing cillum.</p>
  <ol>
    <li>Do ipsum fugiat ex tempor aliqua incididunt velit officia Lorem nostrud voluptate magna laborum.</li>
    <li>Amet id labore sint cillum tempor pariatur.</li>
    <li>Laboris laboris proident nostrud ad tempor magna sint ut nostrud duis aliquip.</li>
  </ol>
</div>
<div class="p-block">
  <h2>Главные наши преимущества:</h2>
  <ol>
    <li>Do ipsum fugiat ex tempor aliqua incididunt velit officia Lorem nostrud voluptate magna laborum.</li>
    <li>Amet id labore sint cillum tempor pariatur.</li>
    <li>Laboris laboris proident nostrud ad tempor magna sint ut nostrud duis aliquip.</li>
  </ol>
  <br>
  <ul>
    <li>Do ipsum fugiat ex tempor aliqua incididunt velit officia Lorem nostrud voluptate magna laborum.</li>
    <li>Amet id labore sint cillum tempor pariatur.</li>
    <li>Laboris laboris proident nostrud ad tempor magna sint ut nostrud duis aliquip.</li>
  </ul>
</div>
{% endblock %}