{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Читательский зал{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" href="{% static 'css/header.css' %}">
  <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="{% static 'css/footer.css' %}">
  <link rel="stylesheet" href="{% static 'css/news.css' %}">
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
</head>

<body>
  <header class="header">
    <a href="{% url 'news' %}" class="header-logo">
      <img src="{% static 'img/logo.png' %}" alt="">
    </a>
    <!-- <div class="header-search-wrapper">
      <form method="GET" class="header-search-form">
        <input type="search" name="header-search" placeholder="Поиск по сайту...">
      </form>
    </div> -->
    <div class="header-nav-wrapper">
      <div class="header-burger-menu">
        <img src="{% static 'img/icons/menu.svg' %}" alt="">
      </div>
      <nav class="header-nav">
        <a href="{% url 'news' %}" class="{% if request.resolver_match.view_name == 'news' %}active{% endif %}">Новости</a>
        <a href="{% url 'about' %}" class="{% if request.resolver_match.view_name == 'about' %}active{% endif %}">О нас</a>
        <a href="{% url 'contact' %}" class="{% if request.resolver_match.view_name == 'contact' %}active{% endif %}">Задать вопрос</a>
        {% if request.user.is_authenticated %}
        <a href="{% url 'profile' pk=request.user.id %}" class="{% if request.resolver_match.view_name == 'profile' %}active{% endif %}">Личный кабинет</a>
        {% else %}
        <a href="{% url 'login' %}" class="{% if request.resolver_match.view_name == 'login' %}active{% endif %}">Войти</a>
        {% endif %}
      </nav>
    </div>
  </header>
  <main class="content">
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </main>
  <footer class='footer dark'>
    <h2>Footer</h2>
  </footer>

  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/main.js"></script>
</body>

</html>