{% extends 'baseCategory.html' %}
{% load static %}

{% block title %} | Фонд 1{% endblock %}

{% block page-title %}Фонд 1{% endblock %}

{% block p-content %}
<div class="category-grid">
  <a href="{% url 'deals' %}" class="fond-folder">
    <div class="fond-folder-image">
      <img src="{% static 'img/icons/folder.svg' %}">
    </div>
    <div class="fond-folder-info">
      <div class="fond-folder-info-title">Опись 1</div>
    </div>
  </a>
  <a href="{% url 'deals' %}" class="fond-folder">
    <div class="fond-folder-image">
      <img src="{% static 'img/icons/folder.svg' %}">
    </div>
    <div class="fond-folder-info">
      <div class="fond-folder-info-title">Опись 1</div>
    </div>
  </a>
  <a href="{% url 'deals' %}" class="fond-folder">
    <div class="fond-folder-image">
      <img src="{% static 'img/icons/folder.svg' %}">
    </div>
    <div class="fond-folder-info">
      <div class="fond-folder-info-title">Опись 1</div>
    </div>
  </a>
  <a href="{% url 'deals' %}" class="fond-folder">
    <div class="fond-folder-image">
      <img src="{% static 'img/icons/folder.svg' %}">
    </div>
    <div class="fond-folder-info">
      <div class="fond-folder-info-title">Опись 1</div>
    </div>
  </a>
</div>
{% endblock %}
