.news-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.news-post {
  width: 100%;
  height: 350px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.news-post-title {
  color: white;
  font-size: 24px;
  font-weight: 600;
  padding: 0px 25px;
  background: rgba(0, 0, 0, 0.8)
}

.news-post-date {
  background: rgba(0, 0, 0, 0.8);
  width: fit-content;
  padding: 5px;
  color: white;
  margin-bottom: auto;
  margin-left: auto;
}

.news-post-desc-wrapper {
  color: white;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 25px;
  transition: 0.3s;
  background: rgba(0, 0, 0, 0.6)
}

.news-post-desc-wrapper a {
  color: #70a1ff;
  text-decoration: underline;
}

.new-post-wrapper {
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 0px 150px 0px black;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  position: relative;
}

.popular-posts-wrapper {
  display: flex;
}

.most-popular-post {
  width: 50%;
}

.most-popular-post .news-post {
  height: 400px;
}

@media screen and (max-width: 768px) {
  .news-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}